body {
    font-family: Arial, sans-serif;
    background: #eeecec;
}

.container {
    width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 100px;
}

.left {
    width: 40%;
}

.cookie-box {
    background: #add0d3;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: #696868;
}

.form-group {
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #a39797;
    border-radius: 3px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    background: #d58641;
    color: #fefbfb;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

.right {
    width: 40%;
}

.right h3 {
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    line-height: 1.8;
}