* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #c4cad1;
  color: #0b0b0b;
}

/* Header */
header {
  background: #ded9d9;
  border-bottom: 1px solid #a4a3a3;
  text-align: center;
  padding: 15px;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #1c6bbf;
}

/* Layout */
.container {
  width: 90%;
  margin: auto;
}

section {
  background: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #141313;
}

/* About */
.about {
  display: flex;
  gap: 20px;
}

.about ul {
  padding-left: 20px;
}

.map-box {
  text-align: center;
}

.map-box img {
  width: 100%;
  border: 1px solid #868484;
}

/* Buttons */
.btn {
  background: #5c82ab;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.danger {
  background: #e9172c;
}

/* To-Do */
.todo-input {
  display: flex;
  gap: 10px;
}

.task-list {
  list-style: disc;
  padding-left: 20px;
}

.task-list li {
  margin: 5px 0;
}

.task-list button {
  margin-left: 10px;
}

.note {
  background: #ece8d8;
  padding: 10px;
  border: 1px solid #ffeeba;
  margin: 10px 0;
}

/* Timer */
.timer-buttons button {
  margin-right: 12px;
}

/* Form */
form {
  max-width: 400px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #676666;
}

.error {
  color: rgb(143, 21, 21);
  font-size: 12px;
}

.success {
  color: rgb(7, 79, 7);
  margin-top: 10px;
}

.checkbox-group {
  margin: 10px 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border-top: 1px solid #ddd;
}

footer a {
  color: #007bff;
  text-decoration: none;
}