body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    text-align: center;
}

.career-section {
    padding: 60px 80px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    max-width: 900px;
    margin: 0 auto 50px;
    color: #666;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card {
    width: 30%;
}

.image-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 100px 20px 100px 20px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orange .image-box {
    background: #e67e22;
}

.yellow .image-box {
    background: #f39c12;
}

.purple .image-box {
    background: #5b2c6f;
}
.card img{

width: 100%;
height: 100%;
object-fit: cover;
border-radius: 40px;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
}

.card p {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}