* {
    margin: 20;
    padding: 5;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9fafc;
}

.container {
    width: 1100px;
    margin: auto;
    padding: 60px 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.tag {
    color: orange;
    font-size: 14px;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 34px;
    margin: 15px 0;
}

.hero-text p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: orange;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 4px;
}

.hero-image img {
    width: 400px;
    border-radius: 5px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 60px;
}

.card {
    background: rgb(233, 227, 227);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.icon {
    font-size: 28px;
    color: orange;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #777;
    line-height: 1.5;
}

.number {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: orange;
}