* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
}

.team-section {
    padding: 80px 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    color: #010204;
}

.team-subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #747578;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.member {
    background: #f5f1f1;
    padding: 30px 20px;
    border-radius: 18px;
    border: 1px solid #dcdde1;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.member img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h2 {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 6px;
}

.member .role {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
     background-color: #bbb8b8;padding: 8px;
    color: #465fa9;
    display: block;
    margin-bottom: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.social-icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    text-decoration: none;
}

@media (max-width: 900px) {
    .team-members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .team-members {
        grid-template-columns: 1fr;
    }

    .team-title {
        font-size: 28px;
    }
}