* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  color: #f3ecec;
  font-size: 24px;
  font-weight: bold;
}

.logo-icon {
  background: #892f09;
  padding: 8px 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
  font-size: 14px;
}

.nav a.active {
  color: #ff5e14;
}

.btn-support {
  background: #1c8046;
  padding: 10px 18px;
  border-radius: 5px;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(33, 48, 76, 0.75),
      rgba(22, 29, 44, 0.75)
    ),
    url("1000084060.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero-content {
  max-width: 650px;
  color: #fff;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.highlight {
  color: #f77031;
}

.line {
  width: 60px;
  height: 4px;
  background: #fff;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 30px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}

.btn.green {
  background: #1f6f40;
}

.btn.orange {
  background: #ca531d;
}