* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
div nav a {
  text-decoration: none;
  margin-left: 25px;
  font-size: 20px;
  color: #ffffff;
}
.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: aliceblue;
  background-color: transparent;
}
div a {
  margin: 20px;
  text-decoration: none;
  color: #ffffff;
}
.btn {
  padding: 10px 30px;
  margin-right: 20px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}

.conatiner1 {
  background: url("assets/reservation.jpg") center/cover no-repeat;
  height: 100vh;
  width: 100%;
}
.hero {
  text-align: center;
  margin: 220px;
}

.hero h1 {
  font-size: 85px;
  color: #ffffff;
  font-family: "Amini";
}


.reservation-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.reservation-form select,
.reservation-form input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 20px;
  color: #fff;
  min-width: 200px;
  outline: none;
}
.reservation-form select option {
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 20px;
  color: black;
  min-width: 200px;
  outline: none;
}

.reservation-form input::placeholder {
  color: #ddd;
}

.reservation-form button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 35px;
  cursor: pointer;
  transition: 0.3s;
}

.reservation-form button:hover {
  background: #fff;
  color: #000;
}
.container6{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.container6 h3{
    font-size: 25px;
    font-family: sans-serif;
    cursor:pointer;
}
.container6 h5{
    font-size: 18px;
}
.container6 p{
    font-size: 18px;
}
.tag{
    display: grid;
}
    