*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

body {
  color: #fff;
}

.img{
    background: url(assets/about.jpg);
    width: 100%;
    height: 100vh;
}

.About{
  color: #FFFFFF;
  margin: 150px 550px;
  font-size: 55px;
}

.container nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
}

.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(1px);
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  color: aliceblue;
  background-color: transparent;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
}

nav a:hover {
  color: #d4af37;
}

.btn {
    padding: 10px 30px;
    margin-right: 20px;
    text-decoration: #ffffff;
    border-color: #272525;
    background-color: transparent;
}
.section{
    background-color: black;
}
.image{
    width: 60%;
    height: 50vh;
    position: relative;
}
.h1{
    font-size: 55px;
    color: azure;
}