 body {
      font-family: Arial, sans-serif;
      background: #659494;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }

    .todo-container {
      background: rgb(190, 187, 187);
      padding: 20px;
      width: 300px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      text-align: center;
    }

    input {
      width: 70%;
      padding: 5px;
    }

    button {
      padding: 6px 10px;
      border: none;
      cursor: pointer;
      color: rgb(15, 15, 15);
      border-radius: 3px;
    }

    .add-btn {
      background: green;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    #taskList li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
    } 

    #taskList li span {
      flex: 1;              
    }

    .edit-btn {
      background: blue;
      margin-right: 5px;
    }

    .delete-btn {
      background: red;
    }