
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #0c0619, #080617, #0b0f42);
    color: #fff;
    overflow-x: hidden;
}

header {
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-symbol{
    width: 30px;
    height: 30px;
    display: flex;
    color: #fcfdfd;
}
.logo {
    font-size: 1.2rem;
    font-weight: 600;
    
}
.square{
    width:"20px";
    height:"20px";
    border-radius: 5px;
    color:white;

}
.logo span{
    color: #ff4d00;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7a00;
}

.get-started {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #fcfdfd;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background0.3s;
}

.get-started:hover {
    background: #ff7a00;
    color: #fff;
}


.hero {
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
}

.gradient-text {
    background: linear-gradient(to right, #fff, #ff7a00, #007cf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    margin: 10px 0;
    font-size: 2px;
    color: #aaa;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-collection {
    background: linear-gradient(to right, #ff7a00, #ff4d00);
    border: none;
    color: #fff;
}

.view-collection:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 122, 0, 0.6);
}

.learn-process {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.learn-process:hover {
    background: #fff;
    color: #000;
}


.card {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid;
    border-image: linear-gradient(to right, #ff7a00, #007cf0) 1;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: fadeIn 1s ease-in;
}

.card-icon {
    font-size: 1.5rem;
    background: linear-gradient(to right, #007cf0, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-content h3 {
    font-size: 0.9rem;
    color: #aaa;
}

.card-content p {
    font-size: 1rem;
    font-weight: 600;
}


