* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
body {
font-family: Arial, sans-serif;
background-color: #f4f6f8;
margin: 0;
 padding: 0;
text-align: center;
}

h1 {
    text-align: center;
    margin: 40px 0;
    color: #1a1a1a; 
 }

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card {
    background: #ffffff;
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(33, 32, 32, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card:hover img {
    opacity: 0.85;
}

.card-content {
    padding: 15px;
}

.h3{
    text-align: left;
}
        
.card-content h3 {
    margin-bottom: 10px;
    color: #0a0a0a;
}

.card-content p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
    