*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background:#2f2f2f;
    color:#fff;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}
.logo{
    font-size:26px;
    font-weight:700;
}
nav a{
    color:#ccc;
    text-decoration:none;
    margin-left:25px;
    font-size:14px;
}
nav a:hover{
    color:#f9b233;
}
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px 80px;
}
.hero-text{
    max-width:600px;
}
.hero-text h4{
    color:#f9b233;
    margin-bottom:15px;
}
.hero-text h1{
    font-size:42px;
    line-height:1.3;
    margin-bottom:20px;
}
.hero-text span{
    color:#f9b233;
}
.hero-text p{
    color:#bfbfbf;
    font-size:14px;
    line-height:1.8;
    margin-bottom:30px;
}
.buttons{
    display:flex;
    gap:15px;
}
.btn{
    padding:12px 26px;
    border-radius:5px;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
}
.btn-primary{
    background:#6c63ff;
    color:#fff;
}
.btn-secondary{
    background:#f9b233;
    color:#000;
}
.hero-img img{
    width:420px;
}